.directory
.idea

# Old project Code (to be removed)
PPMClientOld
PPMClientOld2

# Bower project dependencies
PPMClient/vendor

# NodeJS project dependencies
node_modules

# The build directory where final minimized version of
# the extension will be created
build

# playground folder
ideas