/*GENERAL*/
body{
    min-width:300px;
    background-color: #fefefe;
}


/*LOGIN PANEL*/
.profileLogin{margin-bottom: 15px;}









/*MENU PANEL*/
.profileMenu{}

.profileMenu ul.nav li a{padding:4px 15px;cursor:pointer;}
.profileMenu ul.nav li span.glyphicon{margin-right:10px;}
.profileMenu ul.nav li hr{margin-top:5px; margin-bottom:5px;}



/*ALERT PANEL*/
.profileAlert.alert{margin-bottom:0;}