<a ng-click="fillInPasscard(PC)" role="menuitem">
    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {{ PC.name }}
</a>
<a class="pull-right" ng-click="copyUsername(PC)" title="Edit"><span class="glyphicon glyphicon-cog"></span></a>
<a class="pull-right" ng-click="copyUsername(PC)" title="Copy Password"><span class="glyphicon glyphicon-flash"></span></a>
<a class="pull-right" ng-click="copyUsername(PC)" title="Copy Username"><span class="glyphicon glyphicon-user"></span></a>

