<div class="modal-header">
    <div class="pull-right text-info">{{item._id}}</div>
    <h3 class="modal-title">Edit Passcard</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" ng-model="item.name" required class="form-control" />
                </div>
                <div class="form-group">
                    <label for="identifier">Identifier</label>
                    <input type="text" id="identifier" ng-model="item.identifier" required class="form-control" />
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" ng-disabled="lockUsername" id="username" ng-model="item.username" required class="form-control" />
                        <span class="input-group-btn" dropdown>
                            <button type="button" class="btn dropdown-toggle" dropdown-toggle>
                                <i ng-show="lockUsername" class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="toggleUsernameLock()">{{ lockUsername ? "Unlock" : "Lock" }} Username</a></li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i ng-show="showPassword" ng-click="togglePasswordVisibility()" class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                            <i ng-hide="showPassword" ng-click="togglePasswordVisibility()" class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                        </div>

                        <input ng-show="showPassword" type="text" ng-disabled="lockPassword" ng-model="item.password" required class="form-control" />
                        <input ng-hide="showPassword" type="password" ng-disabled="lockPassword" ng-model="item.password" required class="form-control" />

                        <span class="input-group-btn" dropdown>
                            <button type="button" class="btn dropdown-toggle" dropdown-toggle>
                                <i ng-show="lockPassword" class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="togglePasswordVisibility()">{{ showPassword ? "Hide" : "Show" }} Password</a></li>
                                <li><a href="" ng-click="togglePasswordLock()">{{ lockPassword ? "Unlock" : "Lock" }} Password</a></li>
                                <li><a href="" ng-click="generatePassword()">Generate Password</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <label class="label label-info">Created</label>
            <p>{{ (item.creation_ts*1000) | date:'yyyy-MM-dd HH:mm' }}</p>
            <label class="label label-info">Updated</label>
            <p>{{ (item.modification_ts*1000) | date:'yyyy-MM-dd HH:mm' }}</p>
            <label class="label label-info">Password Changed</label>
            <p>{{ (item.pw_change_ts*1000) | date:'yyyy-MM-dd HH:mm' }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="save()">Save</button>
</div>