<section>
    <div class="page-header">
        <button ng-click="createItem();" type="button" class="btn btn-primary pull-right">Create</button>
        <div class="form-group">
            <div class="col-xs-2 pull-right">
                <input type="text" ng-model="search" class="form-control" placeholder="search" />
            </div>
        </div>
        <h1>Passcards</h1>
    </div>
    <div class="row">


        <div class="col-md-12">
            <table class="table table-striped table-bordered secrettable">
                <tr>
                    <th>Name</th>
                    <th>Identifier</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Pwd Changed</th>
                    <th class="col-md-1">State</th>
                    <th class="col-md-1">Actions</th>
                </tr>
                <tr ng-repeat="secret in secrets | filter:search">
                    <td>{{ secret.name }}</td>
                    <td>{{ secret.identifier }}</td>
                    <td>{{ (secret.creation_ts*1000) | date:'yyyy-MM-dd' }}</td>
                    <td>{{ (secret.modification_ts*1000) | date:'yyyy-MM-dd' }}</td>
                    <td>{{ (secret.pw_change_ts*1000) | date:'yyyy-MM-dd' }}</td>
                    <td>
                        <label ng-show="secret.sync_state == 0" class="label label-success">In Sync</label>
                        <label ng-show="secret.sync_state == 1" class="label label-warning">Out of Sync</label>
                        <label ng-show="secret.sync_state == 2" class="label label-danger">Deleted</label>
                        <label ng-show="secret.sync_state == 3" class="label label-primary">New</label>
                    <td>
                        <button class="btn btn-xs btn-primary pull-right" ng-click="editItem(secret._id)" title="Edit">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-xs btn-danger pull-right" ng-click="deleteItem(secret._id, secret.name)" title="Delete">
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</section>
