<section>
    <div class="page-header">
        <h1>Servers</h1>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-bordered servertable">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Url</th>
                    <th class="col-md-3">Values</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="server in servers" ng-class="{success: server.connected, danger: !server.connected}">
                    <td>{{ server.index }}</td>
                    <td>{{ server.name }}</td>
                    <td>{{ server.type }}</td>
                    <td>{{ server.url }}</td>
                    <td>
                        seed: {{ server.seed }}<br />
                        timestamp: {{ server.timestamp }}<br />
                        padding: {{ server.leftPadLength }}/{{ server.rightPadLength }}<br />
                    </td>
                    <td>{{ server.connected ? "Connected" : "Disconnected"}}</td>
                    <td>
                        <button ng-click="connectServer(server.index)" ng-hide="server.connected" class="btn btn-xs btn-success">Connect</button>
                        <button ng-click="disconnectServer(server.index)" ng-show="server.connected" class="btn btn-xs btn-danger">Disconnect</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</section>
