/*GENERAL*/
body{
    min-width:300px;
    background-color: #fefefe;
}

/*HEADER*/
.header{}
.header h1{font-size: 20px;}

/*LOGIN PANEL*/
.profileLogin{margin-bottom: 15px;}
.profileLogout{margin-bottom: 15px;}








/*MENU PANEL*/
.profileMenu{}

.profileMenu ul.nav li a{padding:0 10px;cursor:pointer;}
.profileMenu ul.nav li span.glyphicon{margin-right:10px;}
.profileMenu ul.nav li a.pull-right{padding:0 1px;cursor:pointer;}
.profileMenu ul.nav li a.pull-right span.glyphicon{margin-right:1px;}
.profileMenu ul.nav li hr{margin-top:5px; margin-bottom:5px;}



/*ALERT PANEL*/
.profileAlert.alert{margin-bottom:0;}