/*UI-BOOTSTRAP FIX*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

body > div > .container-fluid {
    padding: 55px 15px 0;
}

/* Footer styles */
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer > .container .text-muted {
    margin-top: 4px;
}

/* Structure styles */
#main section .page-header{margin-top:0;}

/* Generic styles */
button.btn.pull-right{margin-left:10px;}

