/*GENERAL*/
body{
    min-width: 400px;
    background-color: #fefefe;
}

/*HEADER*/
.header{}
.header h1{font-size: 20px;}

/*LOGIN PANEL*/
.profileLogin{margin-bottom: 15px;}
.profileLogout{margin-bottom: 15px;}


/*MENU PANEL*/
.profileMenu{margin-bottom: 15px;}

/* PASSCARDS MENU*/
.profileMenu ul.passcards{}
.profileMenu ul.passcards li.passcard{margin:0;padding:1px 5px 0 10px;border-radius: 4px;}
.profileMenu ul.passcards li.passcard:hover{background-color: #eeeeee;}
.profileMenu ul.passcards ul.nav-multi-action{margin:0; padding:0;}
.profileMenu ul.passcards ul.nav-multi-action li.main{display: inline-block; width:75%;}
.profileMenu ul.passcards ul.nav-multi-action li.main a{padding:0;cursor:pointer;}
.profileMenu ul.passcards ul.nav-multi-action li.main a:hover{background: none;}

.profileMenu ul.passcards ul.nav-multi-action li.action{display: inline-block;}
.profileMenu ul.passcards ul.nav-multi-action li.action a{padding:1px;cursor:pointer;}

/* UTILITIES MENU*/
.profileMenu ul.utilities{}
.profileMenu ul.utilities li a{padding:0 10px;cursor:pointer;}
.profileMenu ul.utilities  li span.glyphicon{margin-right:10px;}
.profileMenu ul.utilities  li a.pull-right{padding:0 1px;cursor:pointer;}
.profileMenu ul.utilities  li a.pull-right span.glyphicon{margin-right:1px;}
.profileMenu ul.utilities  li hr{margin-top:5px; margin-bottom:5px;}


/*ALERT PANEL*/
.profileAlert.alert{margin-bottom:0;}